<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Exercise Set</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
          <mat-icon (click)="onNoClick()">cancel</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  <mat-card-content>
    <div class="container">
      <form [formGroup]="exerciseSetForm" (submit)="onSubmit()">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label>Repetitions</label>
              <input type="text" formControlName="repetitions" class="form-control">
            </div>
            <div class="col-md-6">
              <label>Weight</label>
              <input type="text" formControlName="weight" class="form-control">
            </div>
            <div class="col-md-6">
              <label>Time</label>
              <input value="00:00:00" type="time" step="1" formControlName="time" class="form-control">
            </div>
            <div class="col-md-6">
              <label>Distance</label>
              <input type="text" formControlName="distance" class="form-control">
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6">
            <button type="submit" class="btn btn-success">
              <mat-icon>save</mat-icon>
            </button>
            </div>
          </div>
        </div>
  
      </form>
    </div>
  </mat-card-content>