<p>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Workout Information</span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon (click)="onNoClick()">cancel</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<mat-card-content>
  <div class="container">
    <form [formGroup]="workoutForm" (submit)="onSubmit()">
      <div class="form-group">
        <div class="container">
          <div class="row">
            <mat-form-field appearance="standard" style="width:300px !important">
              <mat-label>Title Test</mat-label>
              <input matInput type="text" formControlName="title">
              <mat-error *ngIf="$any(workoutForm).controls['title'].invalid">*Required</mat-error>
            </mat-form-field>
          </div>
          
          <div class="row">
            <mat-form-field appearance="standard" style="width:300px !important">
              <mat-label>Description</mat-label>
              <textarea matInput type="text" formControlName="description"></textarea>
              <mat-error *ngIf="$any(workoutForm).controls['description'].invalid">*Required</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field appearance="standard" style="width:300px !important">
              <mat-label>Exercise Test</mat-label>
              <mat-select formControlName="exercise">
                <mat-option *ngFor="let exercise of exercises" [value]="exercise">
                  {{exercise.title}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="$any(workoutForm).controls['exercise'].invalid">*Required</mat-error>
            </mat-form-field>
          </div>

          <div class="center row">
            <button type="submit" [disabled]="!workoutForm.valid" class="btn btn-success">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>
      </div>

    </form>
  </div>
</mat-card-content>