<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Workout Journal</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="history" class="nav-link">History</a>
      </li>
      <li class="nav-item">
        <a routerLink="diary" class="nav-link">Diary</a>
      </li>
      <li class="nav-item">
        <a routerLink="listExercise" class="nav-link">Exercises</a>
      </li>
      <li class="nav-item">
        <a routerLink="image" class="nav-link">Image Test</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>