<mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Select date" [(ngModel)]="startDate" (dateChange)="onDateChanged()">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
</mat-form-field>

<div class="list row">
    <div class="col-md-6">
        
        <mat-toolbar>
          <mat-toolbar-row>
            <span>Workout List</span>
            <button mat-icon-button>
              <mat-icon (click)="addWorkout()">add_circle</mat-icon>
            </button>
          </mat-toolbar-row>
        </mat-toolbar>

        <mat-selection-list [multiple]="false">
          <mat-list-option
            *ngFor="let workout of searchedWorkouts; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveWorkout(workout, i)"
          >
              {{ workout.title }}
          </mat-list-option>
        </mat-selection-list>

    </div>


    <div class="col-md-6">
        <div *ngIf="currentWorkout">

          <mat-toolbar>
            <mat-toolbar-row>
              <span>Details</span>
              <span class="example-spacer"></span>
              <button mat-icon-button>
                <mat-icon (click)="editWorkout()">edit</mat-icon>
                <mat-icon (click)="deleteWorkout()">delete</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>

          <div class="container">
            <div>
              <label><strong>Date:</strong></label> 
              {{ currentWorkout.date }}
            </div>
            <div>
              <label><strong>Title:</strong></label> 
              {{ currentWorkout.title }}
            </div>
            <div>
              <label><strong>Description:</strong></label> 
              {{ currentWorkout.description }}
            </div>
            <div *ngIf="currentExercise">
              <label><strong>Exercise:</strong></label> 
              {{ currentExercise.title }}
            </div>
          </div>
        </div>

        <mat-card-content>
          <div class="container" *ngIf="currentWorkout">

            <table class="table">
              <thead *ngIf="exerciseSets">
                <th>№</th>
                <th>Repititions</th>
                <th>Weight</th>
                <th>Time</th>
                <th>Distance</th>
              </thead>
              <tr *ngFor="let set of exerciseSets; let i = index">
                <td>Set №{{i+1}}</td>
                <td>{{set.repetitions}}</td>
                <td>{{set.weight}} kg</td>
                <td>{{set.time}}</td>
                <td>{{set.distance}} km</td>
                <td><mat-icon (click)="editExerciseSet(set.id)">edit</mat-icon></td>
                <td><mat-icon (click)="deleteExerciseSet(set.id)">delete</mat-icon></td>
            
              </tr>
            </table>

            <button class="btn btn-sm btn-warning" (click)="addExerciseSet()">Add Set</button>

          </div>
        </mat-card-content>
    
        <div *ngIf="!currentWorkout">
          <br />
          <p>Please click on a workout...</p>
        </div>
    </div>
</div>
    
