<mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Select date" [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
</mat-form-field>

<button mat-raised-button color="accent" class="Button" (click)="searchFor()">Search</button>

<div class="list row">
    <div class="col-md-6">
        <h4>Workout List</h4>
        <ul class="list-group">
        <li
            class="list-group-item"
            *ngFor="let workout of searchedWorkouts; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveWorkout(workout, i)"
        >
            {{ workout.title }}
        </li>
        </ul>

        <button class="m-3 btn btn-sm btn-warning" (click)="addWorkout()">Add Workout</button>
    </div>


    <div class="col-md-6">
        <div *ngIf="currentWorkout">
          <h4>Workout Details</h4>
          
          <td><mat-icon (click)="editWorkout()">edit</mat-icon></td>
          <td><mat-icon (click)="deleteWorkout()">delete</mat-icon></td>

          <div>
            <label><strong>Date:</strong></label> 
            {{ currentWorkout.date }}
          </div>
          <div>
            <label><strong>Title:</strong></label> 
            {{ currentWorkout.title }}
          </div>
          <div>
            <label><strong>Description:</strong></label> 
            {{ currentWorkout.description }}
          </div>
          <div *ngIf="currentExercise">
            <label><strong>Exercise:</strong></label> 
            {{ currentExercise.title }}
          </div>
        </div>

        <mat-card-content>
          <div class="container" *ngIf="currentWorkout">

            <table class="table">
              <thead>
                <th>No</th>
                <th>Repititions</th>
                <th>Weight</th>
                <th>Time</th>
                <th>Distance</th>
              </thead>
              <tr *ngFor="let set of exerciseSets">
                <td>{{set.id}}</td>
                <td>{{set.repetitions}}</td>
                <td>{{set.weight}}</td>
                <td>{{set.time}}</td>
                <td>{{set.distance}}</td>
                <td><mat-icon (click)="editExerciseSet(set.id)">edit</mat-icon></td>
                <td><mat-icon (click)="deleteExerciseSet(set.id)">delete</mat-icon></td>
            
              </tr>
            </table>

            <button class="btn btn-sm btn-warning" (click)="addExerciseSet()">Add Set</button>

          </div>
        </mat-card-content>
    
        <div *ngIf="!currentWorkout">
          <br />
          <p>Please click on a workout...</p>
        </div>
    </div>
</div>
    
