<p>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Exercise</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
          <mat-icon (click)="onNoClick()">cancel</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  <mat-card-content>
    <div class="container">
      <form [formGroup]="exerciseForm" (submit)="onSubmit()">
        <div class="form-group">
          <div class="container">
            <div class="row">
              <mat-form-field appearance="standard" style="width:300px !important">
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
                <mat-error *ngIf="$any(exerciseForm).controls['title'].invalid">*Required</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="standard" style="width:300px !important">
                <mat-label>Description</mat-label>
                <input matInput type="text" formControlName="description">
                <mat-error *ngIf="$any(exerciseForm).controls['description'].invalid">*Required</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="standard" style="width:300px !important">
                <mat-label>BodyPart</mat-label>
                <mat-select formControlName="bodyPart">
                  <mat-option *ngFor="let bodyPart of bodyParts" [value]="bodyPart">
                    {{bodyPart}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="$any(exerciseForm).controls['bodyPart'].invalid">*Required</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="standard" style="width:300px !important">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let categorie of categories" [value]="categorie">
                    {{categorie}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="$any(exerciseForm).controls['category'].invalid">*Required</mat-error>
              </mat-form-field>
            </div>
  
            <div class="center row">
              <button type="submit" [disabled]="!exerciseForm.valid" class="btn btn-success">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </div>
  
      </form>
    </div>
  </mat-card-content>